.Notifications {
  border: 1px dashed rgb(224,53,75);
  padding: 1%;
  position: relative;
}

[data-notification-type='default'] {
  color: blue;
}

[data-notification-type='urgent'] {
  color: red;
}

#container {
  float: right;
}

.menuItem {
    text-align: end;
}
