table, th {
  border-bottom: 2px solid;
  border-collapse: collapse;
  border-color: lightgray;
}

table {
  width: 90%;
  border: 1px solid;
  border-color: lightgray;
  margin: 30px auto 30px auto;
}

.column-headers {
  text-align: left;
}

